
* {
    font-family: Helvetica, sans;
    font-weight: normal;
}

#site-palette div.fieldValue input {
    padding: 4px;
    width: 284px;
    font-size:13px;
}

#site-palette div.fieldLabel {
    margin-top:16px;
}

#site-palette input[type='submit'] {
    margin-top: 16px;
    font-size: 16px;
    float: right;
    margin-right: 6px;
}

#site-palette h1 {
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 34px;
}


div.presentation {
    display:block;
    position:relative;
}

div.selected.presentation {
    outline: 3px solid #6FAEFE;
}

div._hi {
    box-shadow: 0 0 15px #6fAeFe;
}
